<IfModule mod_rewrite.c>
    RewriteEngine On

    # Block sensitive root files
    RewriteRule ^(\.env|artisan|composer\.(json|lock)|package\.json|vite\.config\.js)$ - [F,L]

    # Allow public storage first
    RewriteCond %{REQUEST_URI} ^/storage/ [OR]
    RewriteCond %{REQUEST_URI} ^/public/storage/
    RewriteRule ^ - [L]

    # Block internal folders
    RewriteRule ^(vendor|bootstrap|storage)(/.*)?$ - [F,L]

    # Forward everything else to public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]

    Options -Indexes
</IfModule>